HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/java/**
!**/src/main/resources/static/**
!**/src/main/resources/templates/**
!**/src/main/resources/application.yml
!**/src/test/**
**/src/main/resources/application-dev.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### config ###
activiti-seed/src/main/resources/application-dev.yml
application-dev.yml